.scroll-pane .viewport {
  
    -fx-background-image: url("/resources/image.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;

  }

.scroll-pane {
    -fx-background-color:transparent;
}